
.headerText {
    font-weight: 700;
    color: orange;
    font-size: 40px;
    padding: 15px;
}

.sideBar {
    background-color: black;
    color: white;
}

.avatarIcon {
    background-color: rgb(63, 62, 62);
    padding: 1px 1px 1px 1px;
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 20px;

}
.avatarIcon:hover {
    background-color: rgb(189, 189, 189);
    padding: 1px 1px 1px 1px;
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 20px;

}

.sFaIcon {
    color: white;
    margin: 0 auto;
    size:30px;
}

.menuItem {
    list-style-type: none;
    padding: 10px 0px 10px 10px;
    font-weight: 500;
}

.menuItem:hover {
    list-style-type: none;
    padding: 10px 0px 10px 10px;
    background-color: rgb(90, 90, 90);
    font-weight: 600;
}

.viewScreen {
    width: 100%;
    height: 100%;
}

.headTitle {
   
    position: relative;
    display:flex;
    width: 100%;
    align-items: space-between;
    align-content: space-between;
    grid-template-columns:auto
    
}

.optionBar {
    display: flex;
    width:100%;
    padding: 5px;
}